.section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-between;
    max-width: 1200px;
    align-content: center;
    margin:auto;
}
.inner{
    height: 170px;
    padding: 30px;
    margin: 10px;
    /* width: 300px; */
}
.content{
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
}