.section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1300px;
    margin: 0 auto;
    grid-gap: 1em;

    .inner:first-child, 
    .inner:nth-child(2),
    .inner:nth-child(3){
        grid-column: auto / 2 span;
        border: 1px solid red;
        display: grid;
        place-content: center;
        padding: 80px;
        .content{
            border: 1px solid red;
            padding: 20px 50px;
        }
        }
    .inner:nth-child(4),
    .inner:nth-child(5){
        grid-column: auto/ 3 span;
        border: 1px solid green;
        display: grid;
        place-content: center;
        padding: 80px;
        .content{
            border: 1px solid green;
            padding: 20px 50px;
        }
    }    
}


