.checkout-item{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 80px;
    max-width: 1000px;
    margin: 2rem auto 0;
    grid-gap: 1em;
    align-items: center;
}
.quantity-control{
    display: flex;
    justify-content: center;
    button{
        &:hover{
            border: 0;
            background-color: #dd7544;
        }
    }
    .quantity-number{
        padding: 0 1rem;
    }
}