.cart-dropdown {
    border: 1px solid gray;
    background: white;
    z-index: 1;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    // overflow: scroll;

    .btn {
        // margin: auto 0 0px;
        padding: 10px 30px;
    }
}
.cart-items{
    padding: 30px;
    overflow-y: auto;
    height: 300px;

}