.cart-dropdown {
    border: 1px solid gray;
    background: white;
    padding: 30px;
    z-index: 1;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    // overflow: scroll;

    .btn {
        margin: auto 0 0px;
    }
}